.captcha{
  padding: 20px;
  font-size: 20px;
  letter-spacing: 3px;
  background-color: #d3d3d3;
  width: max-content;
  //-moz-user-select: none;
  //-khtml-user-select: none;
  //user-select: none;
}
