
<h1>Книжные полки</h1>

<div *ngIf="isListShowable()">
  <app-button  (click)="showCreation()">Добавить книжную полку</app-button>

  <app-table
    *ngIf="table.data.length"
    [displayed]="table.displayed"
    [data]="table.data"
    [size]="table.size"
    [page]="table.page"
    (paginatorchanged)="paginatorChanged($event)"
    (rowclicked)="rowClicked($event)">
  </app-table>
</div>

<div *ngIf="isCreationShowable()">

  <form [formGroup]="form" novalidate fxFlex fxLayout="column" fxLayoutAlign="space-between center">
    <app-input-text [label]="true" inputType="text" formControlName="bookshelfName" inputPlaceholder="Название книжной полки"></app-input-text>
    <app-error [error]="errors"></app-error>
    <app-button [submit]="true" type="submit" (click)="createBookShelf()">Создать</app-button>
    <app-button (click)="showList()">Назад</app-button>

  </form>
</div>

<div *ngIf="isSingleShelfShowable()">
  <app-bookshelf></app-bookshelf>
</div>
<div *ngIf="isBookShowable()"></div>
