.wrapper{
  display: flex;
  height: 100%;
}

.nav{
  background-color: #f1f1f1;
  border-right: 1px solid #d3d3d3;
  height: 100%;
  width:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  ul{
    li{
      padding: 20px;
      a{
        text-transform: uppercase;
        letter-spacing: 3px;
        cursor: pointer;
        &:hover{
          color: red;
        }
      }
    }
  }
}

#content{
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  margin-left: 300px;
}
