<div class="wrapper">
  <div class="nav">
    <ul >
      <li (click)="index = 0" [class.active]="index === 0">
        <a >Читать книгу</a>
      </li>
      <li (click)="index = 1" [class.active]="index === 1">
        <a >Книжная полка</a>
      </li>
      <li (click)="index = 2" [class.active]="index === 2">
        <a >Одобренные книги</a>
      </li>
    </ul>
    <div class="btnWrap">
    <app-button [submit]="true" type="submit" (click)="logout()">Выход</app-button>
    </div>

  </div>

  <div id ="content">
    <div *ngIf="index === 0">
      <app-readbook></app-readbook>
    </div>
    <div *ngIf="index === 1">
      <app-bookshelves></app-bookshelves>
    </div>
    <div *ngIf="index === 2">
      <app-booksharing></app-booksharing>
    </div>

  </div>
</div>
